ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  color: rgba(18, 18, 18, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  background-color: #ffffff;
  box-sizing: border-box;
  /* font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;*/
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  /* overflow: scroll; */
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}