
@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
  color: #2e2f42;
  margin: 0 auto;
  padding: 0;
}


.container {
  max-width: 375px;
   margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    margin: 0 auto;
  }

  }

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    margin: 0 auto;
  }

}

.header {
 
  font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    background-color:#f5f5f5;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}


nav ul{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 44px;
  justify-content: center;
  align-items: center;
  transform: translate(2500ms);
}

.nav-link :focus, .nav-link :hover{
  color: #4e75ff;
  ;
}




